@model NextGenFootball.Web.ViewModels.Player.PlayerEditViewModel

@{
    ViewData["Title"] = "Edit Player";
}

<h2>Edit Player</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group mb-3">
        <label asp-for="FirstName" class="form-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="LastName" class="form-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="DateOfBirth" class="form-label"></label>
        <input asp-for="DateOfBirth" class="form-control" type="date" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Position" class="form-label"></label>
        <input asp-for="Position" class="form-control" />
        <span asp-validation-for="Position" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="PositionEnum" class="form-label">PositionEnum</label>
        <select asp-for="PositionEnum" class="form-control" aria-required="true" asp-items="@(Html.GetEnumSelectList<NextGenFootball.Data.Common.Enums.PositionEnum>())">
            <option value="">-- Select Position Enum --</option>
        </select>
        <span asp-validation-for="PositionEnum" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="PreferredFoot" class="form-label">Preferred Foot</label>
        <select asp-for="PreferredFoot" class="form-control" asp-items="@(Html.GetEnumSelectList<NextGenFootball.Data.Common.Enums.PreferredFoot>())">
            <option value="">-- Select Preferred Foot --</option>
        </select>
        <span asp-validation-for="PreferredFoot" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="TeamId" class="form-label">Select Team</label>
        <select asp-for="TeamId" class="form-select" asp-items="@(new SelectList(Model.Teams, "Id", "Name"))">
            <option value="">-- Select Team --</option>
        </select>
        <span asp-validation-for="TeamId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="SeasonId" class="form-label">Select Season</label>
        <select asp-for="SeasonId" class="form-select" asp-items="@(new SelectList(Model.Seasons, "Id", "Name"))">
            <option value="">-- Select Season --</option>
        </select>
        <span asp-validation-for="SeasonId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ApplicationUserId" class="form-label">Application User Id</label>
        <input asp-for="ApplicationUserId" class="form-control" />
        <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="ImageUrl" class="form-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}